
prefix=PREFIX
exec_prefix=${prefix}
libdir=${exec_prefix}/lib
includedir=${prefix}/include

Name: posixx
Description: Thin C++ wrapper for POSIX API
URL: https://spec-dev.integratech.net/redmine/projects/show/posixx
Version: 0.1
Cflags: -I${includedir}

